/* one dark colors */
/* @define-color black #282c34; */
@define-color red #e06c75;
@define-color green #98c379;
@define-color yellow #e5c07b;
@define-color blue #61afef;
@define-color purple #c678dd;
@define-color cyan #56b6c2;
@define-color white #abb2bf;

@define-color black #181825;
/* @define-color blue #94e2d5; */
/* @define-color green #a6e3a1; */
/* @define-color orange #fab387; */
/* @define-color purple #cba6f7; */
/* @define-color red #f76d6d; */
/* @define-color yellow #ffff70; */

* {
  border: none;
  border-radius: 0;
  min-height: 0;
  font-family: JetBrainsMono Nerd Font;
  font-size: 13px;
}

window#waybar {
  background-color: @black;
  transition-property: background-color;
  transition-duration: 0.5s;
}

window#waybar.hidden {
  opacity: 0.5;
}

window {
  color: @white;
}

#workspaces {
  background-color: transparent;
}

#workspaces button {
  all: initial;
  /* Remove GTK theme values (waybar #1351) */
  min-width: 0;
  /* Fix weird spacing in materia (waybar #450) */
  box-shadow: inset 0 -3px transparent;
  /* Use box-shadow instead of border so the text isn't offset */
  padding: 6px 18px;
  padding-left: 10px;
  margin: 6px 3px;
  border-radius: 4px;
  background-color: #1e1e2e;
  color: #cdd6f4;
}

#workspaces button.active {
  color: #1e1e2e;
  background-color: #cdd6f4;
}

#workspaces button:hover {
  box-shadow: inherit;
  text-shadow: inherit;
  color: #1e1e2e;
  background-color: #cdd6f4;
}

#workspaces button.urgent {
  background-color: #f38ba8;
}

#memory,
#cpu,
#power-profiles-daemon,
#pulseaudio,
#custom-power,
#battery,
#backlight,
#wireplumber,
#network,
#clock,
#temperature,
#tray {
  /* background-color: #1e1e2e; */
  background-color: @black;
  color: @white;
}

#battery.discharging {
  color: @yellow;
}

#battery.warning,
#battery.critical,
#battery.urgent {
  color: @red;
}

#battery.good,
#battery.charging {
  color: @green;
}

#clock {
  font-family: JetBrainsMono Nerd Font;
  margin-right: 4px;
}

#cpu,
#memory {
  color: @purple;
  margin-right: 6px;
}

#memory {
  margin-right: 10px;
}

#custom-power {
  color: @white;
  margin-right: 6px;
}

#power-profiles-daemon {
  margin-left: 2px;
  margin-right: 10px;
}

#power-profiles-daemon.performance {
  color: @red;
}

#power-profiles-daemon.balanced {
  color: @blue;
}

#power-profiles-daemon.power-saver {
  color: @green;
}

#pulseaudio {
  color: @blue;
  margin-right: 12px;
}

tooltip {
  border-radius: 8px;
  padding: 15px;
  background-color: #131822;
}

tooltip label {
  padding: 5px;
  background-color: #131822;
}

#tray {
  background-color: @black;
  margin-right: 4px;
}

menu,
#tray menu {
  background-color: #131822;
}

